site_name: "fastapi-crud-kit"
site_description: "A powerful CRUD toolkit for FastAPI with SQLAlchemy, featuring query building, filtering, sorting, and field selection with async/sync support."
site_url: "https://mawuva.github.io/fastapi-crud-kit/"
docs_dir: docs

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.top
    - content.code.copy

markdown_extensions:
  - codehilite:
      guess_lang: false
      pygments_style: dracula
  - pymdownx.highlight:
      anchor_linenums: true
      linenums_style: pymdownx-inline
  - pymdownx.superfences
  - admonition
  - footnotes
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Models: models.md
  - CRUD Operations: crud-operations.md
  - Query Building: query-building.md
  - Database Setup: database-setup.md
  - Advanced Features: advanced-features.md
  - API Reference: api-reference.md